@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* import custom font */
/* proxima nova */
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/proxima-nova.otf");
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
